.nft {
	background-color: #bbff00;
	background-image: url(nft-logo.png);
	background-repeat: repeat-y;
}
.nft div {
	padding: 0 1em 1em 1em;
	margin-left: 20%;
	background-color: #ffffffcc;
}
.mandatory {
	color: red;
}
.citrusNum {
	font-size: 200%;
	color: #006400;
}
.citrusNumNeg {
	color: red;
}
.hidden {
	display: none;
}
.sealContainer {
	position: fixed;
	width: 10%;
}
.seal {
	width: 100%;
}
.status {
	font-weight: bold;
	color: darkred;
}
.tue {
	font-size: 5em;
}
